<%= form_for([@wall, @climb]) do |f| %>
  <% if @climb.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" >
      <h4><%= pluralize(@climb.errors.count, "error") %> prohibited this route from being saved:</h4>

      <ul>
      <% @climb.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :image %><br>
    <%= image_tag @climb.image.url(:thumb) if @climb.image.present? %>
    <%= f.file_field :image %>
  </div>

  <div class-"field">
    <%= f.label "Date set:" %><br>
    <%= f.date_select :created_at, :order => [:day, :month, :year] %>
  </div>

  <div class="field">
    <%= f.label :color %><br>
    <% if @climb.color && !(Climb::COLORS.include?(@climb.color)) %>
      <%= f.select :color, options_for_select(Climb::COLORS, "Other") %><br>
      <%= f.text_field :color, id: "color_input"%>
    <% else %>
      <%= f.select :color, options_for_select(Climb::COLORS, @climb.color) %><br>
      <%= f.text_field :color, id: "color_input", disabled: true, style: "display: none" %>
    <% end %>
  </div>

  <% if (@wall.nil? && @climb.climb_type==='Boulder') || (!@wall.nil? && @wall.wall_type==='Boulder') %>
    <div class="field">
      <%= f.label :grade %><br>
      <%= f.select :grade, options_for_select(Climb::BOULDER_GRADES, @climb.grade) %> 
    </div>
  <% else %>
    <div class="field">
      <%= f.label :grade %><br>
      <%= f.select :grade, options_for_select(Climb::ROUTE_GRADES, @climb.grade) %> 
    </div>
  <% end %>

  <!-- <div class="field">
    <%#= f.label :setter_id %><br>
    <%# if @climb.setter_name && !(@registered_setter_names.include?(@climb.setter_name)) %>
      <%#= f.select :setter_id, options_for_select(@setters, "Other") %><br>
      <%#= f.text_field :setter_name, id: "setter_name" %>
    <%# else %>
      <%#= f.select :setter_id, options_for_select(@setters, @climb.setter_name) %><br>
      <%#= f.text_field :setter_name, id: "setter_name", disabled: true, style: "display: none" %>
    <%# end %>
  </div> -->
  
  <div class="field">
    <%= f.label :setter_id %><br>
    <% if @climb.setter %>
      <%= f.select :setter_id, options_for_select(@setters, @climb.setter.id) %><br>
      <%= f.text_field :setter_name, id: "setter_name", style: "display: none" %>
    <% elsif @climb.setter_name %>
      <%= f.select :setter_id, options_for_select(@setters, "Other") %><br>
      <%= f.text_field :setter_name, id: "setter_name" %>
    <% else %>
      <%= f.select :setter_id, options_for_select(@setters, @current_user.id) %><br>
      <%= f.text_field :setter_name, id: "setter_name", style: "display: none", value: @current_user.full_name %>
    <% end %>
  </div>

  <% if @wall %>
    <%= f.hidden_field :wall_id, :value => @wall.id  %><br>
    <%= f.hidden_field :gym_id, :value => @wall.gym.id  %><br>
    <%= f.hidden_field :climb_type, :value => @wall.wall_type  %>
  <% else %>
    <%= f.hidden_field :gym_id, :value => @climb.wall.gym.id  %><br>
  <% end %>
  <br>
  <div class="actions">
    <%= f.submit class: "btn btn-success"%>
  </div>
<% end %>

<script>
$(document).ready(function(){
  $( "#climb_color" ).change(function() {
    if ($(this).val() == "Other") {
      $("#color_input").prop("disabled", false).show().focus().val("").attr("placeholder", "Enter climb color");
    } else {
      $("#color_input").prop("disabled", true).hide()
    };    
  });

  $( "#climb_setter_id" ).change(function() {
    if ($(this).val() == "Other") {
      $("#setter_name").show().focus().val("").attr("placeholder", "Enter setter name");
    } else {
      $("#setter_name").hide.val($( "#climb_setter_id option:selected" ).text())
    };    
  });
});
</script>
