<% provide(:title, @user.full_name) %>

<% content_for :instructions do %>
  <h3>Climber Profile</h3>___________________
  <br><br>
  <p>This is very limited at the moment. In the future, climbers will able to sort and manage all of the climbs they completes, with the ability to generate detailed reports.</p>
<% end %>

<div class="container">
  <div class="row">
	<h3>Profile</h3>
	<hr>

	<h5>Name: <%= @user.full_name %></h5>
	<h5>Email: <%= @user.email %></h5>
	<%= link_to "Edit Profile", edit_user_path, class: "btn btn-sm btn-info" %>
	<% if admin %>
	  <%= link_to "Admin Dashboard", admin_user_path(@user), class: "btn btn-sm btn-primary" %>
	<% elsif routesetter %>
	  <%= link_to "Routesetter Dashboard", routesetter_user_path(@user), class: "btn btn-sm btn-primary" %>
	<% end %>
	
	<hr>
	<div id="sends">
	  <%= render partial: 'sends', locals: { user: @user } %>
	</div>
	<hr>

	<% if routesetter %>
	<div id="set-climbs">
	  <%= render partial: 'set_climbs', locals: { user: @user } %>
	</div>
	<% end %>
	
  </div>
</div>