<%= form_for([@gym, @wall]) do |f| %>
  <% if @wall.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wall.errors.count, "error") %> prohibited this wall from being saved:</h2>

      <ul>
      <% @wall.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
    <div class="field">
    <%= f.label :wall_type %><br>
    <%= f.select :wall_type, options_for_select([['Boulder', 'Boulder'], ['Route', 'Route']]) %>
  </div>
  <div class="field">
    <%= f.label :wall_image %><br>
    <%= f.text_field :wall_image %>
  </div>
  <% unless @gym===nil %>
    <%= f.hidden_field :gym_id, :value => @gym.id  %><br>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
