<div class="jumbotron">
  <div class="container">
    <div id="wall-jumbotron"><%= render partial: 'jumbotron', locals: { wall: @wall } %></div>
  </div>
</div>


<div class="container">

  <div class="row">
    <div id="modal" class="modal fade">
      <div class="modal-dialog">
        <div id="inner-modal" class="modal-content"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <!--check to see if image is present. if not, full width graph. if it is, check for orientation and adjust image and graph div widths to fit -->
    <% if @wall.image.present? %>
      <% if @wall.image_orientation && @wall.image_orientation === "Portrait" %>
        <div id="image_div" class="col-sm-3">
          <div id="wall_display_image" style="background-image: url(<%= @wall.image.url(:large) %>)"></div>
        </div>
        <div id="chart_div" class="col-sm-6">
      <% else %>
        <div id="image_div" class="col-sm-4">
          <div id="wall_display_image" style="background-image: url(<%= @wall.image.url(:large) %>)"></div>
        </div>
        <div id="chart_div" class="col-sm-5">
      <% end %>
    <% else %>
      <div id="chart_div" class="col-md-12">
    <% end %> 
        <div id="chart" style="width: 100%; height:300px;"></div>
      </div>
  </div>
  <br>
</div>

<div class="container">
  <ul class="nav nav-tabs nav-justified">
    <li class="active"><a data-toggle="tab" href="#current-climbs">Current Climbs</a></li>
    <li><a data-toggle="tab" href="#archived-climbs">Archived Climbs</a></li>
  </ul>
</div>

<div class="container">
  <div class="tab-content">
    <div id="current-climbs" class="tab-pane fade in active">
      <div class="row">
        <br>
        <div class="climb_sort">
          <h4>Sort by:</h4>
            <%= link_to "Grade", :sort => "grade", remote: true %> |
            <%= link_to "Setter", :sort => "setter_name" %> |
            <%= link_to "Color", :sort => "color" %>
        </div>
        <br>
        <div class="climb-index">
          <%= render partial: 'climb_index', locals: { climbs: @climbs } %>
        </div>
      </div>
    </div>

    <div id="archived-climbs" class="tab-pane fade in">
      <div class="row">
          <div class="archive-index">
            <%= render partial: 'archived_climbs', locals: { archived_climbs: @archived_climbs } %>
          </div>
      </div>
    </div>
  </div>
</div>

<%= high_chart("chart", @chart) %>

<script>
var panelHover = function() {
  $(".panel").hover(
    function() {
      var color = $(this).find(".panel-color").css('background-color');
      if (color === 'rgb(0, 0, 0)' || color ==='rgb(6, 18, 197)' || color ==='rgb(102, 0, 153)' || color ==='rgb(210, 10, 10)' || color === 'rgb(6, 99, 18)') {
        $(this).find(".panel-heading").css('background-color', color).css('opacity', '.75').css('color', '#f6f6f6');
      } else {
        $(this).find(".panel-heading").css('background-color', color).css('opacity', '.75').css('color', '#000000')
      };
      $(".panel-heading").mousedown(function() {
        $(this).css('opacity', '1');
        $(this).parent().parent().find('.panel-color').css('opacity', '1');
      });
    },
    function() {
      var color = $(this).find(".panel-color").css('background-color');
      $(this).find(".panel-heading").css('background-color', '#f4f4f4').css('color', '#000000').css('opacity', '1')
      $(this).find(".panel-color").css('opacity', '.75')
  });
};

$( document ).ready(function() {
  panelHover();
});

$( document ).ajaxComplete(function() {
  panelHover();
});

$(document).ajaxComplete(function(){
  $("#confirmModal").modal("hide");
  $("#confirmModal").on('hidden.bs.modal', function () {
      $("#confirmModal").empty().remove();
  })
})

</script>



