<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-md-12">
    <%= link_to 'Back to Gym', gym_path(@wall.gym), class: "btn btn-primary" %>
    <hr>
    <h2>Wall: <%= @wall.name.capitalize %></h2>
    <% if current_user && current_user.routesetter? %>
      <%= link_to "Add New Routes", new_wall_climb_path(@wall), class: "btn btn-success" %>
      <%= link_to 'Reset Wall', archive_wall_path(@wall), method: :put, data: { confirm: 'Are you sure? This will archive all active routes on this wall.' }, class: "btn btn-danger" %>
    <% end %>
      <!--within reset ==> have a new climb button, and an add by setter (batch) option. add by setter produces a dropdown select for x number of climbs set, which generates a form with x number of inputs. date defaults to today. -->
    </div>
  </div>

  <div id="chartz" style="width: 100%; height:400px;"></div>

  <div class="row">
    <div class="col-md-3">
      <%= image_tag @wall.image.url(:large) if @wall.image.present? %>
    </div>
  </div>
  
  <hr>
  <div class="climb_sort">
  <h4>Sort by:</h4>
      <%= link_to "Grade", :sort => "grade" %>
      <%= link_to "Setter", :sort => "setter" %>
      <%= link_to "Color", :sort => "color" %>
  <div class="row">
    <% @climbs.each do |climb| %>
      <div class="col-md-4">
        <div class="panel panel-default" style="border: 1px solid <%= climb.color %>">
          <div class="panel-heading">
            <div class="row">
              <%= link_to climb.grade+" "+climb.color.capitalize, climb %>
            </div>
          </div>
          <div class="panel body">
              <p>Setter: <%= climb.setter %></p>
              <p>Type: <%= climb.climb_type %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
  <%= link_to "Edit Wall Info", edit_wall_path(@wall), class: "btn btn-info" if current_user && current_user.admin? %>
</div>

<hr>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Archived Climbs</h3>
      <% @archived_climbs.each do |climb| %>
        <div class="col-md-3">
          <div class="panel panel-default" style="border: 1px solid <%= climb.color %>">
            <div class="panel-heading">
              <div class="row">
                <%= link_to climb.grade+" "+climb.color.capitalize, climb %>
              </div>
            </div>
            <div class="panel body">
                <p>Setter: <%= climb.setter %></p>
                <p>Type: <%= climb.climb_type %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<%= high_chart("chartz", @chart) %>
