<%= form_for(@gym) do |f| %>
  <% if @gym.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h4><%= pluralize(@gym.errors.count, "error") %> prohibited this gym from being saved:</h4>

      <ul>
      <% @gym.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image %><br>
    <%= image_tag @gym.image.url(:thumb) if @gym.image.present? %>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-success" %>
  </div>
<% end %>
