<%= form_for(@gym) do |f| %>
  <% if @gym.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h4><%= pluralize(@gym.errors.count, "error") %> prohibited this gym from being saved:</h4>

      <ul>
      <% @gym.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if super_admin %>
    <div class="field">
      <%= f.label :image, class: "control-label" %><br>
      <%= image_tag @gym.image.url(:thumb) if @gym.image.present? %>
      <div class="controls">
        <%= f.file_field :image %>
      </div>
      <% if @gym.image.present? %>
        <%= image_tag @gym.image.url(:thumb) %><br><br>
        <% if routesetter %>
          <%= link_to "Delete attached image", remove_image_gym_path(@gym), class: "btn btn-sm btn-danger", method: :put, data: { confirm: 'Are you sure? This will permanently remove this image.', title: "Delete Wall Image", button: "btn-danger" } %><br>
        <% end %>
      <% end %>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-success" %>
  </div>
<% end %>
