<% provide(:title, "Gym List") %>

<% content_for :instructions do %>
  <h3>Click on a gym to check it out!</h3>
<% end %>

<div class="jumbotron">
  <div class="container">
    <div class="col-md-6 col-md-offset-3 text-center">
      <h1>Gyms</h1>
      <hr>
    </div>
  </div>
</div> 

<div class="container">
  <div class="row">
    <% gyms.each do |gym| %>
      <div class="col-sm-6 col-md-4">
        <%= link_to gym_path(gym) do %>
          <div class="thumbnail">
            <div class="caption text-center">
              <h3><%= gym.name.upcase %></h3>
              <h5><%= gym.location %></h5>
            </div>
            <% if gym.image.present? %>
              <div class="gyms_thumbnails" style="background-image: url(<%=gym.image.url(:medium) %>)"></div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>


  <br>

  <%= link_to 'New Gym', new_gym_path, class: "btn btn-primary" if admin %>

</div>
