<%= form_for([@wall, @route]) do |f| %>
  <% if @route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
      <% @route.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--
  <div class="field">
    <%#= f.label :route_type %><br>
    <%#= f.select :route_type, options_for_select([['Boulder', 'Boulder'], ['Route', 'Route']], @route.route_type) %>
  </div>
-->

  <div class="field">
    <%= f.label :color %><br>
    <%= f.select :color, options_for_select([['Red', 'Red'], ['Green', 'Green'], ['Lime', 'Lime'], ['Blue', 'Blue'], ['Orange', 'Orange'], ['Yellow', 'Yellow'], ['Black', 'Black'], ['Purple', 'Purple'], ['Pink', 'Pink'], ['White', 'White'], ['Teal', 'Teal']], @route.color)%>
  </div>
  <div class="field">
    <%= f.label :grade %><br>
    <%= f.select :grade, options_for_select([['5.5', '5.5'], ['5.6', '5.6'], ['5.7', '5.7'], ['5.8', '5.8'], ['5.9', '5.9'], ['5.10a', '5.10a'], ['5.10b', '5.10b'], ['5.10c', '5.10c'], ['5.10d', '5.10d'], ['5.11a', '5.11a'], ['5.11b', '5.11b'], ['5.11c', '5.11c'], ['5.11d', '5.11d'], ['5.12a', '5.12a'], ['5.12b', '5.12b'], ['5.12c', '5.12c'], ['5.12d', '5.12d'], ['5.13a', '5.13a'], ['5.13b', '5.13b'], ['5.13c', '5.13c'], ['5.13d', '5.13d']], @route.grade) %>
  </div>
  <div class="field">
    <%= f.label :setter %><br>
    <%= f.text_field :setter %>
  </div>
  <div class="field">
 
<!-- just "if @wall" might work -->

  <% unless @wall===nil %>
    <%= f.hidden_field :wall_id, :value => @wall.id  %><br>
    <%= f.hidden_field :route_type, :value => @wall.wall_type  %>
  <% end %>

  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
