<p id="notice"><%= notice %></p>

<div class="container">

<h1>Listing Routes</h1>

<div class="row">
  <% @routes.each do |route| %>
    <div class="col-md-4">
      <div class="routelist" style="background-color: <%= route.color %>">
        <h2>Grade: <%= route.grade %></h2>
        <h4>Setter: <%= route.setter %></h4>
        <h4>Color: <%= route.color %></h4>
        <h5>Wall: <%= route.wall.try(:name) %></h5>
        <%= link_to "View Route", route %>
      </div>
    </div>
  <% end %>
</div>

<p>Add a new route!</p>
<%= link_to "New Route", new_wall_route_path %>      

<br>

</div>
