<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <%= link_to "LOGO", root_path, class: "navbar-brand" %>

        </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <% if @climb && @climb.setter %>
          <ul class="nav navbar-nav">
            <li><%= link_to 'All Gyms >', gyms_path %></li>
            <li><%= link_to @climb.gym.name+" >", gym_path(@climb.gym) %></li>
            <li><%= link_to @climb.wall.name+" >", wall_path(@climb.wall) %></li>
            <li class="active"><a><%= @climb.color %>, <%= @climb.grade %><span class='sr-only'>(current)</span></a></li>
          </ul>
          <% elsif @wall && @wall.name %>
          <ul class="nav navbar-nav">
            <li><%= link_to 'All Gyms >', gyms_path %></li>
            <li><%= link_to @wall.gym.name+" >", gym_path(@wall.gym) %></li>
            <li class="active"><a><%= @wall.name %><span class='sr-only'>(current)</span></a></li>
          </ul>
          <% elsif @gym && @gym.name %>
          <ul class="nav navbar-nav">
            <li><%= link_to 'All Gyms >', gyms_path %></li>
            <li class="active"><a><%= @gym.name %><span class='sr-only'>(current)</span></a></li>
          </ul>
          <% end %>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
              <li role="separator" class="divider"></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.full_name %><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to profile_user_path(current_user) do %>
                    <span class="glyphicon glyphicon-user"></span> Climber Profile
                    <% end %>
                  </li>
                  <% if admin %>
                    <li><%= link_to admin_user_path(current_user) do %>
                      <span class="glyphicon glyphicon-cog"></span> Admin Dashboard
                      <% end %>
                    </li>
                  <% elsif routesetter %>
                    <li><%= link_to routesetter_user_path(current_user) do %>
                      <span class="glyphicon glyphicon-cog"></span> Setter Dashboard
                      <% end %>
                    </li>
                  <% end %>
                  <li role="separator" class="divider"></li>
                  <% gyms.each do |gym| %>
                    <li><%= link_to gym.name, gym_path(gym) %></li> 
                  <% end %>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to logout_path, method: 'delete' do %>
                    Logout<span class="pull-right glyphicon glyphicon-off"></span>
                  <% end %>
                  </li>
                </ul>
            <% else %>
              <li><%= link_to "Log In", login_path, remote: true %></li>
            <% end %>
            <li><%= link_to "Home", home_path %></li>
          </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    </nav>
  </header>
  
  <div id="main-flash">
    <%= render partial: "layouts/flash_messages", flash: flash %>
  </div>

  <div id="login-modal" class="modal fade">
    <div class="modal-dialog">
      <div id="inner-login-modal" class="modal-content"></div>
    </div>
  </div>

  <% if content_for?(:instructions) %>
    <div id="sample">
      <div id="sample-instructions" class="row text-center open">
        <div class="container">
          <div class="row">
            <%= yield(:instructions) %> 
          </div>
        </div>
      </div>
      <div id="sample-toggle" class="instruction-toggle text-center"><i id="click-icon" class="fa fa-chevron-up fa-2x click-icon-open"></i></div>
    </div>
  <% end %>


  <%= yield %>


  <footer class="footer">
    <div class="container">
      <br>
      <p>A work in progress</p>
    </div>
  </footer>
</body>
</html>

<script>
  $(document).ready( function() {
    var height = $('#sample-instructions').css('height');

    $("#sample-toggle").click(function() {
      if ($("#sample-instructions").hasClass("open")) {
        $("#sample-instructions").animate({ "height": '0px' }, 350).removeClass("open");
        $("#click-icon").removeClass('fa-chevron-up').removeClass('click-icon-open').addClass('fa-chevron-down');
      } else {
        $("#sample-instructions").animate({ "height": height }, 350).addClass("open");
        $("#click-icon").removeClass('fa-chevron-down').addClass('fa-chevron-up').addClass('click-icon-open');
      };
    });
  });

  $(document).ready( function() {
    $('#flash-messages').delay(3000).animate({
            opacity: 0,
        }, 700, function() {
            $(this).alert('close');
    });
  });

  $(document).ajaxComplete(function() {
    $('#flash-messages').delay(3000).animate({
            opacity: 0,
        }, 700, function() {
            $(this).alert('close');
    })
  });

  $("#main-flash").bind("DOMSubtreeModified", function() {
    $('#flash-messages').delay(3000).animate({
            opacity: 0,
        }, 700, function() {
            $(this).alert('close');
    })
  });

  $(document).click(function() {
    $("#flash-messages").stop(true).animate({
            opacity: 0,
        }, 700, function() {
            $(this).alert('close');
    });
  });
</script>
